bower_components
.DS_Store
node_modules
firebase-debug.log
*.swp
qr-code-data.json
polymon-imageset.html
build
.*.service-account.json
.*.env.json
client/index.html
build-compare
build/*
firebase.json
client/polymer.json