<!doctype html>
<html>
  <head>
    <title>Polymon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Polymon">
    <link rel="icon" sizes="192x192" href="images/polymon_icon.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1ca6fc">
    <meta name="apple-mobile-web-app-title" content="Polymon">
    <link rel="apple-touch-icon" href="images/polymon_icon.png">

    <meta name="msapplication-TileColor" content="#1ca6fc">
    <meta name="msapplication-TileImage" content="images/polymon_icon.png">

    <style>
      body {
        background-color: #000;
      }
    </style>
    <link rel="stylesheet" href="/fonts/faces.css">
    <script>
      window.Polymer = {
        lazyRegister: true,
        dom: 'shadow'
      };
    </script>
    <link rel="import" href="/bower_components/polymerfire/firebase-app.html" defer>
    <link rel="import" href="/src/polymon-app/polymon-app.html" defer>

  </head>
  <body>

    <firebase-app
        name="polymon"
        api-key="{{firebase.apiKey}}"
        auth-domain="{{firebase.authDomain}}"
        database-url="{{firebase.databaseUrl}}"
        storage-bucket="{{firebase.storageBucket}}">
    </firebase-app>

    <polymon-app id="app"></polymon-app>

    <!-- TODO(cdata): Remove this for production -->
    <script>
      function scanCode(data) {
        let [type, code] = data.split('.');
        window.app.fire('polymon-code', {
          type,
          code,
          continueTo: '/'
        });
      }
    </script>

    <script>
      (function() {

        const SUPPORTS_WEB_COMPONENTS =
            'registerElement' in document &&
            'import' in document.createElement('link') &&
            'content' in document.createElement('template');

        const SUPPORTS_USER_MEDIA_AND_STREAMS =
            navigator.mediaDevices &&
            'getUserMedia' in navigator.mediaDevices &&
            'enumerateDevices' in navigator.mediaDevices;

        const SUPPORTS_SERVICE_WORKER =
            'serviceWorker' in navigator;

        if (!SUPPORTS_WEB_COMPONENTS) {
          let script = document.createElement('script');
          script.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
          document.body.appendChild(script);
        }

        if (!SUPPORTS_USER_MEDIA_AND_STREAMS) {
          let script = document.createElement('script');
          script.src = '/bower_components/webrtc-polyfill/index.js';
          document.body.appendChild(script);
        }

        if (SUPPORTS_SERVICE_WORKER) {
          navigator.serviceWorker.register('/service-worker.js');
        }
      })();
    </script>
  </body>
</html>
