<!doctype html>
<html>
  <head>
    <title>Polymon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Polymon">
    <link rel="icon" sizes="192x192" href="/images/polymon_icon.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1ca6fc">
    <meta name="apple-mobile-web-app-title" content="Polymon">
    <link rel="apple-touch-icon" href="/images/polymon_icon.png">

    <meta name="msapplication-TileColor" content="#1ca6fc">
    <meta name="msapplication-TileImage" content="/images/polymon_icon.png">

    <style>
      body {
        background-color: #000;
      }
    </style>
    <link rel="stylesheet" href="/fonts/faces.css">
    <script>
      window.Polymer = {
        lazyRegister: true,
        dom: 'shadow'
      };
    </script>

    {{#if googleAnalytics.trackingId}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{googleAnalytics.trackingId}}', 'auto');
    </script>
    {{else}}
    <script>
      window['ga'] = function() {
        let args = Array.from(arguments);
        args.unshift('Tracker:');
        console.log.apply(console, args);
      };
    </script>
    {{/if}}

    <link rel="import" href="/bower_components/polymerfire/firebase-app.html" defer>
    <link rel="import" href="/src/polymon-app/polymon-app.html" defer>
  </head>
  <body>

    <firebase-app
        name="polymon"
        api-key="{{firebase.apiKey}}"
        auth-domain="{{firebase.authDomain}}"
        database-url="{{firebase.databaseUrl}}"
        storage-bucket="{{firebase.storageBucket}}">
    </firebase-app>

    <polymon-app id="app"></polymon-app>

    <!-- TODO(cdata): Remove this for production -->
    <script>
      function scanCode(data) {
        let [type, code] = data.split('.');
        window.app.fire('polymon-code', {
          type,
          code,
          continueTo: '/'
        });
      }

      function quickPolydex() {
        [
          'reference.c30979e8f998eb74452c506e6b9b8bbc9e96616455d711bac3b1734499d5f3c3',
          'reference.8dee31d3ecea6ea526677a3a54a40dfe7f36aafb8345277bc652b289c599f09e',
          'reference.80f981fbec968dec4bad591a6265f6c3e3851ef67a903ceffe5ef6cb4260973b',
          'reference.8e60baf1168a66126cb155e4bceca8f38edafc76d92ee6ff05c7490ab69fc17e',
          'reference.c10a1bebeb52690cadb02f0c6f0c32ea9782ce4b5749c5c9c426d0ad22d1a629'
        ].forEach(data => scanCode(data))
      }
    </script>

    <script>
      (function() {

        const SUPPORTS_WEB_COMPONENTS =
            'registerElement' in document &&
            'import' in document.createElement('link') &&
            'content' in document.createElement('template');

        const SUPPORTS_USER_MEDIA_AND_STREAMS =
            navigator.mediaDevices &&
            'getUserMedia' in navigator.mediaDevices &&
            'enumerateDevices' in navigator.mediaDevices;

        const SUPPORTS_SERVICE_WORKER =
            'serviceWorker' in navigator;

        if (!SUPPORTS_WEB_COMPONENTS) {
          let script = document.createElement('script');
          script.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
          document.body.appendChild(script);
        }

        if (!SUPPORTS_USER_MEDIA_AND_STREAMS) {
          let script = document.createElement('script');
          script.src = '/bower_components/webrtc-polyfill/index.js';
          document.body.appendChild(script);
        }

        if (SUPPORTS_SERVICE_WORKER) {
          navigator.serviceWorker.register('/service-worker.js');
        }
      })();
    </script>
  </body>
</html>
